<!DOCTYPE html>
 <html>
  <head>
   <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
   <title>Listings</title>
  </head>
 <body>
  <div class="topnav">
    <a href="/login">Log in</a>
    <a href="/new">Create a listing</a>
  </div>
 <h1 class="heading">Listings</h1>
<div class="container">
    <% @spaces.each do |space| %>
        <div class="card"> 
        <h2><%=space.name%></h2>
         <br></br>
         <p><%=space.description%></p>
        <br></br>
        <h4>£<%=space.price_per_day%> per night</h4>
        <br></br>
        <p><%=space.available_from%></p>
        <p><%=space.available_to%></p>
        <br></br>
        </div>
      <% end %>
</div>
</body>
</html>


