<!DOCTYPE html>
 <html>
  <head>
   <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
   <title>Listings</title>
  </head>
 <body>
   <div class="topnav">
    <% if @user %>
      <a href="/create-listing">Create a listing</a>
      <a href="/user/<%= @user.id %>">Your bookings</a>
      <a href="/logout"> Log out</a>
    <% else %>
      <a href="/login">Log in</a>
      <a href="/sign_up">Sign up</a>
    <% end%>
  </div>
 <h1 class="heading"><%= @spaces.length%> properties found</h1>
<div> 
  <form action="/listings" method='get'>
  <label>Select your dates </label>
    <input type="date" name="requested_from">
    <input type="date" name="requested_until">
    <input type="submit" value="Show available spaces">
  </form>
</div>
<div class="container">
    <% @spaces.each do |space| %>
        <div class="card"> 
        <h2><%=space.name%></h2>
         <p><%=space.description%></p>
        <h4>£<%=space.price_per_day%> per night</h4>
        <form action="listing/<%= space.id %>">
          <input type="submit" value="See more">
        </form>
        </div>
      <% end %>
</div>
</body>
</html>


