<!DOCTYPE html>
 <html>
  <head>
   <link href="<%= url('/index.css') %>" rel="stylesheet" type="text/css" />
   <title>User interface</title>
  </head>
 <body>
  <div class="topnav">
    <% if @user %>
      <a href="/create-listing">Create a listing</a>
      <a href="/user/<%= @user.id %>">Your bookings</a>
      <a href="/logout"> Log out</a>
    <% else %>
      <a href="/login">Log in</a>
      <a href="/sign_up">Sign up</a>
    <% end%>
  </div>
<!-- Your bookings --> 
<h1 class="heading">Your bookings:</h1>
<div class="container">
    <% @bookings.each do |booking| 
        space = Space.find_by_id(booking.space_id)
    %>
        <div class="card"> 
        <h2><%=space.name%></h2>
         <br>
         <p>Check in:  <%=Date.parse(booking.check_in_date).strftime('%d %b %y')%></p>
        <br>
         <p>Check_out:  <%=Date.parse(booking.check_out_date).strftime('%d %b %y')%></p>
        <br>
        <h4>£<%=booking.calculate_price%> for your stay</h4>
        <br>
        </div>
      <% end %>
</div>
<!-- Your listings -->

<!-- Pending bookings for your listings: -->

</body>
</html>


